/* WaterProgressBar.module.css */
.progressBarContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 198px;
  align-self: center;
  margin-bottom: 42px;
  background-color: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px;
  position: relative;
}

.progressTitle {
  color: #323f47;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
}

.progressBar {
  width: 100%;
  height: 6px;
  background-color: #d3d3d3;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
}

.progressBarFill {
  height: 100%;
  border-radius: 9px;
  background-color: #9be1a0;
  transition: width 0.4s ease;
  position: relative;
}

.progressIndicator {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #9be1a0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  transition: left 0.4s ease;
  cursor: pointer;
}

.progressIndicator::after {
  content: attr(data-progress);
  display: none;
  position: absolute;
  top: 20px; /* Adjust this value to position the text below the indicator */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  color: #323f47;
}

.progressIndicator:hover::after {
  display: block;
}

.percentageList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-weight: 400;
  line-height: 1em;
}

.exactProgressText {
  color: #9be1a0;
  font-size: 8px;
  font-weight: 400;
  line-height: 1em;
}

.dynamicPercentageLabel {
  position: absolute;
  top: 18px; /* Adjust to position above the progress bar */
  transform: translateX(-50%);
  color: #9be1a0;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 400;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .progressBarContainer {
    margin-bottom: 26px;
    width: 295px;
  }
  .progressBar {
    height: 8px;
  }
}

@media (min-width: 1440px) {
  .progressBarContainer {
    margin-bottom: 56px;
  }
}
