.date {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #323f47;
  }
  
  @media only screen and (min-width: 768px) {
    .date {
      line-height: 1.14;
      font-size: 28px;
    }
  }