.backdrop {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
}

.container {
  background-color: #fff;
  padding: 40px 20px;
  position: relative;
  width: 343px;
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke: #2f2f2f;
}

.modalTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 24px;
  width: 248px;
}

.modalText {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 20px;
}

.amountText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.quantityIcon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  stroke: #2f2f2f;
}

.itemQuantity {
  background-color: #323f47;
  width: 81px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantitySpan {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;
}

.waterForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labelTime {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.labelValue {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
}

.modalInput {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px;
  width: 303px;
  height: 46px;
  margin-top: 8px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.saveBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background: #9be1a0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

@media (min-width: 768px) {
  .container {
    padding: 40px 40px;
    width: 518px;
  }

  .closeBtn {
    right: 20px;
  }

  .closeIcon {
    width: 28px;
    height: 28px;
  }

  .modalTitle {
    font-size: 28px;
    line-height: 1.14286;
    width: 347px;
  }

  .modalText {
    font-size: 18px;
    line-height: 1.33333;
  }

  .amountText {
    font-size: 16px;
    line-height: 1.5;
  }

  .quantityIcon {
    width: 43px;
    height: 43px;
  }

  .itemQuantity {
    width: 86px;
    height: 43px;
  }

  .quantitySpan {
    font-size: 15px;
    line-height: 1.49333;
  }

  .labelTime {
    font-size: 16px;
    line-height: 1.5;
  }

  .labelValue {
    font-size: 18px;
    line-height: 1.33333;
  }

  .modalInput {
    padding: 16px 16px;
    width: 438px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }

  .saveBtn {
    padding: 18px 50px;
    width: 141px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
}
