.linkGoogle {
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #323f47;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 311px;
  }

  @media (min-width: 768px) {
  .linkGoogle {
    font-size: 16px;
    line-height: 150%;
    width: 436px;
  }
  }