.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  background: #323f47;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28em;
  letter-spacing: -0.14px;
  margin-right: 16px;
  margin-bottom: 32px;
  align-self: flex-end;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .btnContainer {
    padding: 14px 32px;
  }

  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
}
