.popover {
  display: flex;
  flex-direction: column;
  gap: 9px;
  border-radius: 15px;
  padding: 14px 20px;
  width: 137px;
  height: 72px;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .popover {
    width: 157px;
    height: 82px;
  }
}

