.formWrapper {
  padding: 40px 0;
}

.imageWrapper {
  /* padding: 20px 85px 40px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imagecontainer {
  width: 75px;
  height: 75px;
}

.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.upload {
  display: flex;
  gap: 8px;

  cursor: pointer;
}

.imageInput {
  display: none;
}

.uploadIcon {
  stroke: #2f2f2f;
  fill: transparent;

  width: 18px;
  height: 18px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;

  color: #2f2f2f;
}

.inputTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;

  color: #2f2f2f;

  margin-bottom: 14px;
}

.genderInputWrapper {
  display: flex;
  gap: 20px;

  margin-bottom: 25px;
}

.genderButton {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.genderInput {
  display: none;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .radioIcon {
  stroke: #9be1a0;
  fill: transparent;
} */

/* .radioIcon:checked {
  fill: #9be1a0;
} */

.userInroWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-bottom: 24px;
}

.userInputWrap {
  display: flex;
  flex-direction: column;
}

.userInputTitle {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;

  color: #2f2f2f;
  margin-bottom: 8px;
}

.userInput {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;

  padding: 14px 16px;
  color: #2f2f2f;
}

.dailyNormaWrap {
  margin-bottom: 24px;
}

.dailyInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-bottom: 12px;
}

.accentText {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.waterInfo {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;

  margin-bottom: 14px;
  color: #2f2f2f99;
}

.activityWrapper {
  display: flex;
  gap: 4px;
}

.iconImportant {
  fill: #9be1a0;
}

.waterNormaWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.calcInput {
  margin-bottom: 8px;
}

.amountWrap {
  margin-bottom: 14px;
}

.submitButton {
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;

  font-weight: 700;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .imagecontainer {
    width: 100px;
    height: 100px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .uploadIcon {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .inputTitle {
    font-size: 18px;
    line-height: 1.33;
  }

  /* .radioIcon {
    stroke: #9be1a0;
    fill: transparent;
  } */

  /* .radioIcon:checked {
    fill: #9be1a0;
  } */

  .userInputTitle {
    font-size: 18px;
    line-height: 1.33;
  }

  .userInput {
    padding: 16px;
  }

  .flexWrap {
    display: flex;

    gap: 28px;
  }

  .dailyInfoWrapper {
    margin-bottom: 14px;
  }

  .accentText {
    font-size: 16px;
    line-height: 1.5;
  }

  .iconImportant {
    fill: #9be1a0;

    width: 22px;
    height: 22px;
  }

  .submitButton {
    padding: 16px 50px;
    width: 141px;
    height: 56px;

    font-size: 16px;
    line-height: 1.5;
  }

  .error {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .dailyNormaWrap {
    margin-bottom: 0;
  }

  .formFlexWrapper {
    display: flex;
    gap: 40px;
  }

  .formFlexItem {
    flex-basis: calc((100% - 40px) / 2);
  }

  .accentTextL {
    font-size: 15px;
    line-height: 1.3;
    color: #9be1a0;
    font-weight: 700;
  }
}
