.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #323f47;
  /* position: absolute;
  z-index: 999;
  top: 24px;
  left: 16px; */
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
  }
}
