.backdrop {
  border-radius: 30px;
  background: #f0eff4;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 343px;
}
.welcomeText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  padding-top: 74px;
}
.welcomeHeader {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
  padding-top: 16px;
  width: 250px;
}

@media (min-width: 768px) {
  .backdrop {
    padding-left: 32px;
    padding-top: 32px;
    max-width: 704px;
  }
  .welcomeText {
    font-size: 16px;
    line-height: 150%;
    padding-top: 50px;
    padding-left: 32px;
  }
  .welcomeHeader {
    font-size: 64px;
    line-height: 109%;
    padding-left: 32px;
    width: 450px;

  }
}
