.container {
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 12px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  width: calc((100% - 5 * 21px) / 6);
}

@media screen and (min-width: 375px) {
  .list {
    justify-content: flex-start;
    width: 100%;
  }

  .item {
    width: calc((100% - 5 * 21px) / 6);
  }
}

@media screen and (min-width: 768px) {
  .list {
    column-gap: 16px;
  }

  .item {
    width: calc((100% - 6 * 21px) / 8);
  }
}
