.backdrop {
  padding-top: 32px;
  padding-bottom: 67px;
}
.navlist {
  display: flex;
  gap: 10px;
}
.navBtnUp {
  border-radius: 30px;
  padding: 14px 19px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  display: flex;
  justify-content: center;
}
.navBtnUp:hover,
.navBtnUp:focus {
    background-color: #87d28d;
}
.navBtnIn {
    border: 1px solid #323f47;
border-radius: 30px;
padding: 14px 28px;
width: 104px;
height: 46px;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
text-align: center;
color: #323f47;
display: flex;
  justify-content: center;
}
.navBtnIn:hover,
.navBtnIn:focus {
    border: 1px solid #87d28d;
    color: #87d28d;
}
