.container {
  background-image: url('../../assets/images/Rectangle19_mob-min.png');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: 343px;
  height: 353px;
}

@media (min-width: 768px) {
  .container {
    background-image: url('../../assets/images/Rectangle19_tab-min.png');
    width: 704px;
height: 446px;
  }
}

@media (min-width: 1440px) {
  .container {
    background-image: url('../../assets/images/Rectangle19_dt-min.png');
    width: 672px;
height: 736px;
  }
}