.amountTitle {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
  display: inline-block;
  color: #2f2f2f;
}

@media only screen and (min-width: 768px) {
  .amountTitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

.amountWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.quantityBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
}

.quantityIcon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  stroke: #2f2f2f;
}

@media only screen and (min-width: 768px) {
  .quantityBtn {
    width: 43px;
    height: 43px;
  }

  .quantityIcon {
    width: 43px;
    height: 43px;
  }
}

/* .quantityButton:hover svg path,
      .quantityButton:hover svg rect {
        stroke: var(--color-lightgreenhover);
        transition: stroke var(--animation);
      } */

/* .quantityButton:disabled svg path,
      .quantityButton:disabled svg rect {
        stroke: #323f4750;
      } */

.amountValue {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  padding: 11px 20px;
  background-color: #323f47;
  border-radius: 30px;
  color: #fff;
}

/* .valueWrap {
        display: flex;
        flex-direction: column;
      } */

.valueDiv {
  display: flex;
  flex-direction: column;
  position: relative;
}

.labelTime {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  margin-bottom: 8px;
  color: #2f2f2f;
}

@media only screen and (min-width: 768px) {
  .labelTime {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}

.input {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  color: #2f2f2f;

  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  max-width: 303px;
  height: 46px;
  padding: 14px 16px;
  margin-bottom: 24px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

@media only screen and (min-width: 768px) {
  .input {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
    padding: 16px 16px;
    max-width: 438px;
    height: 56px;
  }
}

.labelVal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.16px;
  margin-bottom: 8px;
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .labelVal {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.18px;
  }
}

.btnSubmit {
  border-radius: 30px;
  padding: 14px 40px;
  border: none;
  background-color: #9be1a0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-align: center;
  color: #323f47;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnSubmit:hover {
  background-color: #87d28d;
}

@media only screen and (min-width: 768px) {
  .btnSubmit {
    padding: 18px 50px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16;
  }
}

.error {
  position: absolute;
  top: 90px;
  font-size: 15px;
  color: #ef5050;
  margin: 0;
  padding: 0;
}
