.contactItem {
  display: flex;
  width: 280px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.slideOut {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-380%);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nameText {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 16px 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 30px;
  width: 50px;
  border: none;
  background-color: #3e77aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #ff7879;
}
