.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 145px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  border-radius: 4px;
  /* border: 1px solid var(--WHITE, #fff); */
  border: none;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 4px 12px 5px;
  width: 300px;
  height: 38px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
}

.input::placeholder {
  /* color: rgba(46, 47, 66, 0.4); */
}

.error {
  font-size: 12px;
  color: red;
}
