.infoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 343px;
  border-radius: 30px;
  background: #9be1a0 url(../../assets/images/transparent_bottle_for_water_mobile-min.png) no-repeat
    center 50px/262px 335px;
  padding: 24px 16px;
  margin-left: auto;
  margin-right: auto;
}

.addWaterBtn:hover {
  color: #9be1a0;
}

@media (min-width: 768px) {
  .infoContainer {
    width: 704px;
    height: 578px;
    padding: 32px;
    background: #9be1a0 url(../../assets/images/transparent_bottle_for_water_tablet-min.png)
      no-repeat center 69px/374px 477px;
  }
}

@media (min-width: 1440px) {
  .infoContainer {
    width: 672px;
    height: 736px;
    background: #9be1a0 url(../../assets/images/transparent_bottle_for_water_desktop-min.png)
      no-repeat center 92px/472px 604px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .infoContainer {
    background-image: url(../../assets/images/transparent_bottle_for_water_mobile_2x-min.png);
    background-size: 262px 335px;
  }

  @media (min-width: 768px) {
    .infoContainer {
      background-image: url(../../assets/images/transparent_bottle_for_water_tablet_2x-min.png);
      background-size: 374px 477px;
    }
  }

  @media (min-width: 1440px) {
    .infoContainer {
      background-image: url(../../assets/images/transparent_bottle_for_water_desktop_2x-min.png);
      background-size: 472px 604px;
    }
  }
}

.startTourBtn {
  position: absolute;
  right: 16px;
  top: 30px;
  width: 81px;
  height: 26px;
  padding: 9px 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.01em;
  vertical-align: middle;
  border-radius: 30px;
  background-color: #323f47;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .startTourBtn {
    position: absolute;
    right: 32px;
    top: 32px;
    padding: 11px 16px;
    width: 111px;
    height: 34px;
    font-size: 12px;
  }
}
