.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 47, 47, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.deleteModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--main-white);
    border-radius: 15px;
    padding: 40px;
    width: 516px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.deleteModal .closeIcon {
    position: absolute;
    stroke: var(--main-text);
    fill: none;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modalDeleteTitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.modalDeleteText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
    margin-top: 24px;
}

.modalButtonContainer {
    display: flex;
    width: 356px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    margin-top: 24px;
}