.container {
  padding-top: 126px;
  padding-bottom: 170px;
}
.header {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #323f47;
}
.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
.formGroup {
  width: 311px;
  padding-top: 32px;
}
.formGroupPassword {
  display: flex;
  flex-direction: column;
  width: 311px;
  padding-top: 16px;
}
.input {
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  outline: none;
  display: flex;
  width: 311px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 129%;
  padding-left: 16px;
  letter-spacing: -0.01em;
  background-color: transparent;
  padding-right: 40px;
}
.input::placeholder {
  color: rgba(47, 47, 47, 0.6);
}
.input.error {
  border-color: #ef5050;
  color: #ef5050;
}
.errorMessage {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #ef5050;
}

.inputWrapper {
  position: relative;
  padding-top: 8px;
}
.submitButton {
  border-radius: 30px;
  padding: 16px 90px;
  width: 311px;
  height: 50px;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #323f47;
  display: flex;
  justify-content: center;
}
.submitButton:hover,
.submitButton:focus {
  background-color: #87d28d;
}
.buttonWrapper {
  padding-top: 32px;
}
.textWrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  padding-top: 16px;
  padding-left: 50.5px;
}
.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
  padding-left: 3px;
}
.passwordToggleIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-30%);
  cursor: pointer;
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding-top: 171px;
    padding-bottom: 227px;
    padding-left: 102px;
  }
  .header {
    font-size: 36px;
    line-height: 106%;
    letter-spacing: -0.01em;
  }
  .label {
    font-size: 16px;
    line-height: 150%;
  }
  .input {
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 150%;
    padding-right: 40px;
  }
  .formGroup {
    width: 434px;
  }
  .formGroupPassword {
    width: 434px;
    padding-top: 20px;
  }
  .textWrapper {
    font-size: 16px;
    line-height: 150%;
    padding-left: 98px;
  }
  .passwordToggleIcon {
    display: block;
  }
  .submitButton {
    padding: 18px 150px;
    width: 436px;
    height: 60px;
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-top: 74px;
    padding-bottom: 100px;
    padding-left: 86px;
  }
}
