.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactListItem {
  margin-left: auto;
  margin-right: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactListItem:hover {
  transform: scale(1.07);
}
