.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 auto;
  gap: 16px;
}
@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 32px;
  }
}
