.backdrop {
  border-radius: 30px;
  background: #f0eff4;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 343px;
  margin: 0 auto;
}
.wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .backdrop {
    padding-left: 32px;
    padding-top: 32px;
    width: 704px;
  }
  .wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    width: 672px;
    height: 736px;
  }
  .wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 100vh;
    align-items: center;
  }
}
