.normaContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 102px;
  margin-top: 122px;
  margin-left: 16px;
  margin-bottom: 49px;
  padding: 12px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.normaTitle {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-weight: 400;
  line-height: 1em;
}

.normaValue {
  color: #323f47;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
}

@media (min-width: 768px) {
  .normaContainer {
    padding: 14px 18px;
    width: 129px;
    gap: 4px;
    margin-top: 157px;
    margin-left: 32px;
    margin-bottom: 87px;
  }
  .normaTitle {
    font-size: 12px;
    line-height: 1.87 em;
  }

  .normaValue {
    font-size: 15px;
    line-height: 1.49 em;
  }
}

@media (min-width: 1440px) {
  .normaContainer {
    margin-left: 64px;
    margin-bottom: 215px;
  }
}
